aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
attrs==26.1.0
backoff==2.2.1
certifi==2026.5.20
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
dataclasses-json==0.6.7
defusedxml==0.7.1
fonttools==4.63.0
frozenlist==1.8.0
idna==3.18
inference-sdk==1.3.1
kiwisolver==1.5.0
marshmallow==3.26.2
matplotlib==3.11.0
multidict==6.7.1
mypy-extensions==1.1.0
numpy==2.3.5
opencv-python==4.10.0.84
packaging==26.2
pillow==12.2.0
propcache==0.5.2
py-cpuinfo==9.0.0
pydeprecate==0.7.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
scipy==1.17.1
six==1.17.0
supervision==0.28.0
tqdm==4.68.2
typing-extensions==4.15.0
typing-inspect==0.9.0
urllib3==2.7.0
yarl==1.24.2
